<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}404 Error{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}404 not Found{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
